# LexClear — AI for Legal Assistance & Access (PromptWars 2026 submission)
# Author: Sabarish R <sabarishr1087@gmail.com>
# Portfolio: https://sabarishr08.vercel.app | LinkedIn: https://www.linkedin.com/in/sabarishr08 | GitHub: https://github.com/SabarishR08
# Original work by the author. Please do not resubmit it as your own — see LICENSE.

node_modules
.next
.env
.env.local
playwright-report
test-results
*.log
*.tsbuildinfo

.vercel
.env*
.freebuff
supabase/.temp
.neon
